<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<meta name="viewport" content="width=device-width, user-scalable=yes">	
        <title>Insert New</title>
        
    </head>
    <body>
        <h1>Insert new values </h1>
        <p>
            <h3>Please read the rules carefully</h3>
            <ul>
                <li>Type respective information in specfic boxes</li>
                <li>Use proper logins</li>
                <li>Please contact admin incase of broken pages or forgotten logins</li>
            </ul>
            <h5><a href="/">Click here to go back</a></h>
            <h6>Serial numbers are automatically assigned</h6>
            </p>
        <form action="/insert" method="POST">
            <input type="text" name="chemical" placeholder="product"> <br>
            <input type="text" name="weight" placeholder="net weight"> <br>
            <input type="text" name="price" placeholder="price"><br>
            <input type="text" name="mrp" placeholder="mrp"><br>
            <input type="submit">
        </form>
    </body>
    <footer>Designed By V C H 2022</footer>
</html>
